<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177297003700-bc646evem4166is65kl9e26fspc388e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177297003700-bc646evem4166is65kl9e26fspc388e7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>177297003700-ub3l1rjoufpuoeuloqmtgm7ua1iee8jr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPjLJmh7nSSkmZOaXerzvCQ-HfeFjpo7w</string>
	<key>GCM_SENDER_ID</key>
	<string>177297003700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.conradmo.viridian</string>
	<key>PROJECT_ID</key>
	<string>viridian-d29fa</string>
	<key>STORAGE_BUCKET</key>
	<string>viridian-d29fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177297003700:ios:9c80ebb18a1bbf146773e1</string>
</dict>
</plist>